[Unit]
Description=GPIO Python Service
After=network.target

[Service]
ExecStart=/home/connor/gpio/venv/bin/python /home/connor/gpio/gpio.py
Restart=always
User=connor
WorkingDirectory=/home/connor/gpio

[Install]
WantedBy=multi-user.target