[Unit]
Description=Plant Monitor Service

[Service]
ExecStart=%h/.local/bin/uv run water-monitor
WorkingDirectory=%h/water-monitor
Restart=always
# Skip dev dependencies on the Pi.
Environment="UV_NO_DEV=1"

[Install]
WantedBy=default.target
